@charset "uft-8";

*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body{
  font-size: 16px;
  font-family: sans-serif;
  width: 1600px;
  max-width: 100%;
}

h1{
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;
}

h2{
  font-size: 2.25rem;
  text-shadow: 2px 2px gray;
  text-align: center;
  margin: 0% auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fv{
  background-image: url(../img/fv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 997px;
  position: relative;
}

.fv .item01{
  position: absolute;
  top: 100px;
  left: 81px;
  font-size: 2.25rem;
  text-shadow: 2px 2px #000000;
  color: #ffffff;
}
 

.fv  span{
  background: linear-gradient(transparent 50%,rgba(255,234,8,0.75) 50%);
}

.fv .item01 .big{
  font-size: 4rem;
}

.fv .item02{
  position: absolute;
  bottom: 0;
  background-color: #071eee;
  width: 100%;
  color: #ffffff;
  font-size: 2.25rem;
  padding: 40px 100px;
}

.fv .item02 p{
  width: 968px;
  margin: 0 auto;
  text-align: start;
  padding-left: 54px;
}

.cta01{
  height: 200px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 2.25rem;
}

.cta01 a{
  font-size: 4rem;
  font-weight: bold;
  background-color: #071eee;
  padding: 20px;
  color: #ffffff;
  border-radius: 24px;
}

.cta01 a:hover{
  padding: 40px;
}

.strong{
  background-color: #071eee;
  color: #ffffff;
  padding: 50px 0;
}
.strong-inner{
  width: 700px;
  margin: auto;
  padding-bottom: 10px;
}

.strong h2{
  padding-bottom: 50px;
}

.strong-inner ol {
  list-style: none;
  counter-reset: number;
  padding-left: 50px;
}
.strong-inner li {
  position: relative;
  padding-left: 2.5em;
  line-height: 2;
}
.strong-inner li::before {
  counter-increment: number;
  content: counter(number);
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  background-color: #489DC2;
}
.strong p{
  font-size: 2.25rem;
 text-align: center;
 font-weight: bold;
}

.st01{
  padding: 50px;
  width: 1000px;
  margin: auto;

}

.st01 p{
  padding: 50px 0;
  text-align: center;
}

.flow_design05 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow05 {
  padding-left: 0;
}

.flow05 > li {
  list-style-type: none;
  position: relative;
  padding-left: 50px;
}

.flow05 > li:not(:last-child) {
  padding-bottom: 10px;
}

.flow05 > li .icon05 {
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 100vh;
  display: inline-block;
  background: #4D9BC1;
  color: #fff;
  position: absolute;
  left: 0;
}

.flow05 > li:not(:last-child)::before {
  content: '';
  background: #c3c3c3;
  width: 4px;
  height: 100%;
  position: absolute;
  top: calc(50% - -30px);
  left: 19px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.flow05 > li dl dt {
  font-size: 1.3em;
  font-weight: 600;
  color: #4D9BC1;
}

.flow05 > li dl dd {
  margin-left: 0;
}
.cta02{
  height: 200px;
  background-color: #071eee;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 2.25rem;
}

.cta02 a{
  font-size: 4rem;
  font-weight: bold;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 24px;
  color: #000;
}

.cta02 a:hover{
  padding: 40px;
}

.st02{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.st02 .items{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 30px;
}

.st02 .item{
  width: 324px;
  border: 3px solid #000;
  border-radius: 24px;
}

.st02 .item p:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: center;
  height: 115px;
  font-size: 2rem;
  font-weight: bold;
}

.plice{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 148px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #071eee;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  color: #ffffff;

}

.plus{
  background-color: #E4D106;
  color: #000;
}

.tasu{
  font-size: 6rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.st02 .item p:nth-child(3){
  padding: 10px;
}

.st03 p{
  text-align: center;
}

.st03 img{
  width: 100%;
  border: 3px solid #000;
  border-radius: 24px;
  display: block;
}

.st03 .items{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.st03 p{
  padding-top: 30px;
  padding-bottom: 30px;
}

.pro{
  padding: 50px;
}

.fade-in{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show{
  opacity: 1;
  transform: translateY(0);
}